<style>
#task-list {
  list-style-image: none;
 }
</style>

<div id="List">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><h2>Check It!</h2></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">


      <li class="nav-item">
        <a class="nav-link" href="/addTask">Create List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/task">To List</a>
      </li>

    </ul>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        <h3>My Task List:</h3>
        {{#each toDoList}}
          <div class="card" style="">
            <div class="card-body" data-id="{{id}}">

                <ul class="list-group" id="task-list">
                <li class="list-group-item">Name: {{name}}</li>
                <li class="list-group-item">Type: {{type}}</li>
                <li class="list-group-item">Title: {{title}}</li>
                <li class="list-group-item">Description: {{description}}</li>
                <li class="list-group-item">Due: {{due}}</li>
                <br>
                <button id="{{id}}" type="button" class="btn btn-outline-primary complete">&#10003</button>
                <button id="{{id}}" type="button" class="btn btn-outline-danger delete">X</button>
              </ul>
           
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- BOTTOM --}}
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light">
  {{!-- <a class="navbar-brand" href="#">Fixed bottom</a> --}}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/addTask">Create List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/task">To List</a>
      </li>
    </ul>
</nav>
<footer>
</footer>




