<div id="List">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Check IT!</h2>


        <h3>My to-do list:</h3>
        <ul id="task-list" class="list-group">
          {{#each toDoList}}
          <li>{{name}}</li>
          <li>{{description}}</li>
          <li>{{due}}</li>
          <li>{{completed}}</li>
          
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<a href="/">← Back To Home</a>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

