<div id="List">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>CheckIt!</h2>
        <hr>
        <h3>My Task List:</h3>
        {{#each toDoList}}
          <div class="card" style="">
            <div class="card-body" data-id="{{id}}">
              {{!-- <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
                <ul id="task-list" class="list-group">
                <li>{{name}}</li>
                <li>{{type}}</li>
                <li>{{title}}</li>
                <li>{{description}}</li>
                <li>{{due}}</li>
                <button id="{{id}}" type="button" class="btn btn-danger delete">X</button>
              </ul>
              {{!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> --}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<footer>
<a href="/">Back To Home</a> | 
<a href="/addTask">Add a Task</a>  
</footer>




